#app {
  height: 300px;
  width: 500px;
  display: grid;
  grid-template-columns: [first] 15% [mid] auto [third] 25% [last];
  grid-template-rows: 20% 40% 40%;
}

#header {
  background-color: #9BCE1D;
  grid-column: first / last;
}

#main {
  background-color: #F7F5D8
}

#article-1 {
  background-color: lightcoral;
}

#article-2 {
  background-color: violet;
}

#nav {
  background-color: cornflowerblue;
}

#ad-area {
  background-color: cornflowerblue;
}

#footer {
  background-color: #9BCE1D;
  grid-column: first / last;
}
